# .env file for Hanover Flip Dot Front End.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
REDIS_URL=redis://localhost:6379
SIGN_DEVICE=/dev/ttyUSB0
SIGN_ROWS=7
SIGN_COLS=84
SIGN_ADDRESS=6
SIGN_FLIP_INTERVAL=1500
SIGN_REPEATS=2