# .env file for notifier.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
REDIS_URL=redis://localhost:6379
QUERY_INTERVAL=30000
POSITION_RADIUS=20000
POSITION_LATITUDE=52.953150
POSITION_LONGITUDE=-1.148369