# Example env file for receiver.  Copy to .env before using.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
SBS_HOST=127.0.0.1
SBS_PORT=30003
REDIS_URL=redis://127.0.0.1:6379/
# Example values below are Nottingham, England.  Used to calculate furthest seen.
LATITUDE=52.9661952
LONGITUDE=-1.1567104